$color-gold: #c6b46c;
$color-gold-deep:#98894e;
$color-white: #ece9ec;
$color-white-disabled: #9e9b9e;
$color-gray-border: rgb(211, 211, 211);
$color-brown:#302d3d;
$color-brown-light:#534f62;
$bg-gradient: linear-gradient(90deg, rgba(135, 118, 50, 0.6) 14%, rgba(83,79,98,1) 82%);


$transition-main: all .2s ease-in;

$xxlarge-down:1920px;
$xlarge-down: 1440px;
$large-down: 1024px;
$medium-down: 768px;
$small-down: 375px;